<h1>{{name}}</h1>
<!-- String Pipe -->
<h1>{{name | lowercase}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{name | titlecase}}</h1>
<h1>{{name | slice : 10}}</h1>

<!-- Date pipe -->
<h1>{{today}}</h1>
<h1>{{today | date}}</h1>
<h1>{{today | date : 'short'}}</h1>
<h1>{{today | date : 'shortDate'}}</h1>
<h1>{{today | date : 'shortTime'}}</h1>

<!-- number pipe -->
<h1>{{value}}</h1>
<!-- X.Y-Z   X : min no. of digits before decimal point , Y: min fraction digits, Z : max fraction digit   -->
<h1>{{value | number : '1.2-3'}}</h1> 
<h1>{{value | number : '4.2-3'}}</h1> 
<h1>{{value | number : '4.2-3'}}</h1> 

<!-- json pipe -->
<h1>{{Institute}}</h1>
<h1>{{Institute | json}}</h1>


<h1>{{name | marvellous : "PPA" }}</h1>
<h1>{{name | marvellous : "LB"}}</h1>
<h1>{{name | marvellous : "Angular"}}</h1>
